body {
  font-family: sans-serif;
  background-color: #f9fbfd;
  min-height: 100vh;
}

/*Set padding for the wrapper*/
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/*Header styling*/
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: #3B4954;
}

h1, h2 {
  font-weight: 500;
}

/*Styling for password area*/
.pwArea {
  background-color:white;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: #3B4954;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.pageheader::after {
  display: block;
  width: 100%;
  background-color: #eee9e9;
  height: 2px;
}

.pagebody {
  min-height: 100px;
}

.pagefooter {
  text-align: center;
}

.pagefooter::before {
  display: block;
  width: 100%;
  background-color: #eee9e9;
  height: 2px;
}

.pagefooter::after {
  display: block;
  clear: both;
}

/* Styling for "Generate Password" button*/
.create-button {
  border: none;
  background-color: #9E0508;
  border-radius: 25px;
  color: white;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 15px 15px 15px 20px;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
}

/* Float */
.float-right {
  float: right;
}

/* Styling for input area of the generated password */
#password {
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-align: center;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}